body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background: url('../images/Background.svg');
	scroll-behavior: smooth;
}

/*  Styling for Navbar  */

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 5px;
	margin: 0;
	position: sticky;
	top: 0;
	background-color: rgba(70, 70, 70, 0.623);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
	z-index: 10;
}

.two_links {
	display: flex;
	justify-content: space-around;
	height: inherit;
	width: 150px;
	padding: 5px;
}
.two_links a {
	font-size: 1.2rem;
	text-decoration: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: white;

	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.two_links a:hover {
	color: crimson;
}

.theme_change {
	border-radius: 100px;
	padding: 10px;
	cursor: pointer;
	border: none;
	background-color: black;
	color: white;
}
.theme_change:active {
	transform: scale(0.9);
}

.search_container {
	flex: 0.9;
}
.search_bar {
	padding: 5px;
	margin: 0 10px;
	width: -webkit-fill-available;
}

#channels {
	margin-right: 10px;
}

/*  Social Links */

.all_social_icons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 400px;
	backdrop-filter: blur(8px) saturate(112%);
	-webkit-backdrop-filter: blur(8px) saturate(112%);
	background-color: rgba(197, 197, 197, 0.48);
}
.social_icons {
	padding: 10px;
	margin: 20px 10px;
	transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.social_icons:hover {
	transform: translateY(-5px) scale(1.1);
}
.social_icons:nth-child(1):hover {
	color: white;
	background-color: black;
	border-radius: 6px;
}
.social_icons:nth-child(2):hover {
	color: white;
	background: #f09433;
	border-radius: 6px;
	background: -moz-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.social_icons:nth-child(3):hover {
	color: #bb001b;
	background: white;
	border-radius: 6px;
}
.social_icons:nth-child(4):hover {
	color: white;
	border-radius: 6px;
	background-color: rgb(0, 162, 255);
}

/* Side Content */
.side_content {
	font-family: Arial, Helvetica, sans-serif;
}

/* Footer */

.footer_links li {
	list-style: none;
	text-decoration: none;
	font-size: medium;
	color: rgba(0, 0, 0, 0.4);
	transform: translateX(-35px);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer_links li:hover {
	color: black;
	transform: translateX(-30px);
}
